/* Border box declaration */
html {
  box-sizing: border-box;
	 
	

}
/* inherit border-box on all elements in the universe and before and after */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: "Century Gothic", Geneva, sans-serif;
	background-color: snow;
	/*
	--mainColor:purple;*/
}
div {
	 
}
div img {
	width: 100vw;
	max-width:225px;
}
.wrapper {
	width: 99%;
	max-width: 1200px;
	margin: 0;
	float: none;
	margin: 0 auto;
	 
}
header {
	border-bottom: 1px solid black;
	width:92%;
	padding: 1em;
	margin: 0;
	margin-left:4%;
	position:relative;
	text-transform: uppercase;
	letter-spacing: .4em;
	text-align:center;
	/*color:var(--mainColor);*/
}
header:before {
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  	background: url(resized/DSC08487.jpg) repeat;
	
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}
.row::after, .nav::after {
	content:"";
	display: table;
	clear: both;
}

h1 {
	font-size: 4vmin;

	/*
	font-size:calc(18px + 0.25vw);
	font-size: calc(112.5% + 1vw);
	font-size:calc(150%+5vw);*/

}
ul li a {

}
ul li {

}
li, button {

}
nav ul li {
 
	 
	display:inline-block;
	border:2px solid black;
}
nav ul li:first-of-type {
	margin-left:0;
}
nav ul {
	padding:.15em;
	list-style-type:none;
	margin:0;
	cursor:pointer;	 
	border:2px solid black;
	display:inline-block;
	background:snow;
	  
}
h2 {
	float:right;
	margin:0;
	padding:0;
	font-size:1em;
	margin-right:10vw;
}
nav ul li a {
	background:  white;
	text-transform:uppercase;
	padding:  .1em;
	  
	text-decoration: none;
	 /*box-shadow: 10px 10px 5px #888888;*/
	 font-family:arial;
	 
}
nav ul li a:hover  {
	background:grey;
	color:white;
	 
	 
	 

}
nav {
	float:left;
	background: gainsboro;
	display:block;
	width: 92%;
	padding: .7em;
	margin-left:4%;
	margin-bottom:.25em;



}

[class^="col-"]{
	float:left;
	margin-left:4%;
	position:relative;
	min-height:1px;
}
.col-2-3 {
	 
	 width:28%;
	 
	 background:pink;
}
.col-4-3 {
	 
	width:60%;
	 
	background:lightyellow;
}
.col-3 {
	 
	background:aqua;
	width:44%;
}
.col-6 {
	width:92%;
	background:grey;
	 

}

footer {
 

}
footer {
	width:92%; 
	margin-left:4%; 
	padding: 2em 0;
	 
	color: #999;
	text-align: center;
	background:gainsboro;
}

 

 

@media (min-width: 480px) and (max-width: 767px) {
	.col-1-2,
	.col-2, .col-4-3, .col-2-3 {
		 width:44%;
	}
	h2 {
		display:none;
	}
	ul {
		display:block;
	}
	.col-1-4,
	.col-3,
	.col-4 {
		 
	}
	nav ul li a {
		box-shadow:initial;
		border-radius: initial;
		 
}
	nav ul {
		text-align:center;
		display:block;
		
		 
	}
	nav ul li {
		margin-left:6%;

		 
	}
	nav {
		padding:.35em;
	}

	}
li a {
	 
}


@media (min-width:480px) and (max-width: 599px) {
	ul {
		background:blue;
		border: initial;
		padding: 0;
		display:inline-block;

	}
	ul:after{
		content:"";
		display:table;
		clear:both;
	}
	li {
		display:inline-block;
		margin:0;
	}
	nav ul li a{
		margin:0;
		border: 1px solid black;
	}
	li:nth-of-type(odd){
		float:left;
		width:50%;
		margin:0;
	}
	li:nth-of-type(even){
		float:right;
		width:50%;
		margin:0;
	}
	li a:nth-of-type(odd) {
		float:right;
		width:100%;
		margin:0;
		
	}
	li a:nth-of-type(even) {
	    float:left;
		width:100%;
		margin:0;
		 
	}
	header {
		color:white; 
		 
		margin-right: 30em;
	}
	header:before {
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  	background: url(resized/DSC08302.jpg) no-repeat;
	 
    width: 100%;
    height: 100%;
    opacity : 1;
    z-index: -1;
    background-size:cover;
}
h1 {
	margin-top: 1.75em;
	margin-bottom:1.75em;

}
}

@media (max-width: 479px) {
	[class*="col-"] {
		width:92%;
		background:red;
		  
		
	}

 
	nav ul {
		width: 44%;
		float:left;


	}

	nav ul li {
		/*display:block;*/
		margin-left:0;
		margin-bottom:.75em;
		background:purple;
		 
	}
	nav ul li a {
		border-radius:0px;
	}
	/*
	nav ul li a:before {
		content:"ha";
	}
	 
	 */


}
.clickme {
	display:none;
}
  #fa{
  
    
   
  }
  #fa li a {
  	 
  }
 .move {

 	 
 }
 .dropcontent {
 	 position:relative;
 }
/*droplist display/hide*/


@media (max-width: 479px) {

	.dropcontent{
	 
 		 
 	}
 	ul {
 		padding:0;
 	}
 
	.dropcontent {
	position:absolute;

	/*absolute for overlay, relative to push down */
 	 
 	 
	margin-top:.5em;
    right:.04em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: scaleY(0); 
    /*transform:translateX(20em); */
    /*transform-origin: top;*/
    transition: transform .3s;
     
    /*http://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css*/
	 
     


}
 	.fixbuttonheight{
 		height:3em;
 		padding:0em;
 	}

	.clickme {
		position:absolute;
		right:0;
		 
		
		 
		display:block;
		width:3em;
		margin-right:1em;
		background:inherit;
		padding:.4em;

    font-size: 16px;
    border: none;
    cursor: pointer;
		 
	}
	.clickme:hover {
		border:1px solid black;
		background:grey;
	}
	.clickme:focus {
	   outline:1px solid black;

	}
	/*gets rid of blue border on focus in chrome
	http://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
	*/
	 li {
		width:7em;

	}
	nav {
		padding-right:0;
	}
	.clickme {
    
     
  
}
.hamburger{
	border-top:3px solid black;
	border-bottom:3px solid black;
	position:relative;
	height:2em;
	display:block;
	width:2em;

}
.hamburger:before {
	content:"";
	position:absolute;
	width:100%;
	left:0;
	top: 45%;
	border-top:3px solid black;
}
/*#clickme:not(:focus) {
	/*transition: transform 1s;*/
	/*transform: rotate(0deg);
	}*/
	#clickme.rotate {
		transform: rotate(90deg);
	}
 	/*#clickme:focus.derotate {
 		transform: rotate(90deg);
 	}*/
 
	

 
button.clickme div {
	background:black;
	position:relative;
	display:block;
	height:5px;
	width:65%;
	margin:.4em;
}



/* Dropdown button on hover & focus */
.clickme:hover, .clickme:focus {
    /*background-color: white;*/
}
.clickme:focus {
	border:none;
}
	.dropdown {
	position:relative;
	display:block;
	float:right;
 
}


#fa {
	position:relative;
	  
	
	display:inline-block;
	width:100%;
}
.dropcontent a {
	display:block;
	color: black;
    padding: 12px 16px;
    text-decoration: none;

}

nav ul li a:hover  {
	background:grey;
	color:white;
	 
	 
	  
	 
	
}
nav ul li a:focus {
	background:aqua;
}
 
 nav ul li {
 	padding: 0em;
 	margin: 0;
 	 
 }
 nav ul li a {
 	padding:0;
 	border:1px solid black;
 }
 
}

.show {
	
	 transform: translateX(0);
	 transform: scaleY(1);
	opacity:1;
 
	 /*transform: translateX(0);*/
	 
	 
 
	 
	 

}
